{% extends 'layouts/core/core_base.html'%}
{% load static %}


{% block title %}
عکس ها
{% endblock %}

{% block content %}
{% if pictures %}
    <div class="row">
        {% for image in pictures %}
        <div class="col-md-4">
            <div class="card m-2">
                <img class="card-img-top" src="{{image.picture.url}}" alt="{{image.picture_title}}">
                <div class="card-body">
                <h3 class="card-text text-center">{{image.picture_title}}</h3>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endif %}
{% endblock %}

