{% extends 'layouts/administration/administration_base.html' %}


{% block content %}
        <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">فرم ویرایش عکس </h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form method="POST" novalidate enctype="multipart/form-data">
            {% csrf_token %}
            {% if form.errors %}
                <div class="alert alert-danger">
                    <ul>
                    {% for field in form %}
                        {% for error in field.errors %} 
                            <li>{{error}}</li>
                        {% endfor %}
                    {% endfor %}
                    </ul>
                </div>
            {% endif %}
              <div class="box-body">
                <div class="form-group">
                    <label>موضوع عکس</label>
                    {{form.picture_title}}
                </div>
                <div class="form-group">
                    <label for="picture" class="btn btn-primary">انتخاب عکس</label>
                    {{form.picture}}
                </div>
                <p></p>
                <div class="form-group">

                    <div class="box box-danger">
                        <div class="box-header with-border">
                          <h3 class="box-title">عکس فعلی</h3>
                          <hr/>
                        </div>
                        <div class="box-body">
                          <img src="{{picture.picture.url}}" alt="" style="width:50%;border-radius: 2%;">
                        </div>
                      </div>

                </div>
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-success btn-block">
                        ویرایش
                        <i class="fa fa-pencil-square" aria-hidden="true"></i>
                    </button>
                </div>
              </div>
            </form>
          </div>
{% endblock %}