
<!DOCTYPE html>
<html>
<head>
  {% include 'layouts/administration/includes/head.html' %}
  {% block styles %}{% endblock %}
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

{% include 'layouts/administration/includes/header.html' %}

{% include 'layouts/administration/includes/side.html' %} 
  <div class="content-wrapper">
{% include 'layouts/administration/includes/content-header.html' %} 
  <section class="content">
    {% block content %}{% endblock %}
  </section>
  </div>
</div>

{% include 'layouts/administration/includes/scripts.html' %} 

{% block scripts %}{% endblock %}
</body>
</html>
