{% extends 'layouts/core/core_base.html'%}
{% load static %}


{% block title %}
خانه
{% endblock %}

{% block content %}
<div>
    <div class="card-container justify-content-center">
        <div class="card cards animate__animated animate__fadeInUp">
            <img class="card-img-top" src="{% static 'core/assets/images/doctors.jpg' %}">
            <a href="{% url 'core:doctors' %}" class="btn btn-info btn-lg card-title m-2">پزشک های ما</a>
        </div>
        <div class="card cards animate__animated animate__fadeInUp">
            <img class="card-img-top" src="{% static 'core/assets/images/hospital.jpg' %}">
            <a href="{% url 'core:pictures' %}" class="btn btn-success btn-lg card-title m-2">عکس های ما</a>
        </div>
    </div>

    <div class="card-container justify-content-center">
        <div class="card cards animate__animated animate__fadeInUp">
            <img class="card-img-top" src="{% static 'core/assets/images/contact-us.jpg' %}">
            <a href="{% url 'core:contact-us' %}" class="btn btn-danger btn-lg card-title m-2">ارتباط با ما</a>
        </div>
        <div class="card cards animate__animated animate__fadeInUp">
            <img class="card-img-top" src="{% static 'core/assets/images/about-us.jpg' %}">
            <a href="{% url 'core:about-us' %}" class="btn btn-warning btn-lg card-title m-2">درباره ما</a>
        </div>
    </div>
</div>

{% endblock %}

