{% extends 'layouts/administration/administration_base.html' %}
{% load static %}
{% load jalali %}
{% load humanize %}

{% block content %}

    <h1>بخش نوبت های دکتر</h1>
    <hr/>
    {% include "layouts/administration/includes/messages.html" %}
    {% if can_add_appointment %}
    <div class="text-center">
        <a class="btn btn-primary" href="{% url 'administration:add-user-appointment' user.id %}">افزودن نوبت
            <i class="fa fa-plus-square" aria-hidden="true"></i>
        </a>
    </div>
    <p></p>
    {% endif %}
    {% if appointments %}
    <div class="box">
        <div class="box-header">
          <h3 class="box-title">لیست نوبت ها</h3>

          <div class="box-tools">
            <p>مبلغ کل پرداخت شده ها : <span class="text-danger">{{sum|intcomma:False}}</span> <span class="text-info">تومان</span></p>

          </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body table-responsive no-padding">
            <table class="table table-hover">
                <tbody>
                    <tr>
                        <th>شماره تلفن کاربر مربوطه</th>
                        <th>مبلغ پرداختی</th>
                        <th>پرداخت شده</th>
                        <th>استفاده شده</th>
                        <th>تاریخ ثبت</th>
                        <th>دستورات</th>
                    </tr>
                    {% for appointment in appointments %}
                    <tr>
                        <td>
                            {{appointment.user.phone_number}}
                        </td>
                        <td>
                            {% if appointment.paid_cost %}
                            <p class="text-success">{{appointment.paid_cost|intcomma:False}}</p>
                            {% else %}
                            <p class="text-danger">از طرف ادمین اضافه شده است</p>
                            {% endif %}
                        </td>
                        <td>
                            {% if appointment.is_paid %}
                            <p class="text-success">
                                <i class="fa fa-check-square" aria-hidden="true"></i>
                            </p>
                            {% else %} 
                            <p class="text-danger">
                                <i class="fa fa-window-close" aria-hidden="true"></i>
                            </p>
                            {% endif %}
                        </td>
                        <td>
                            {% if appointment.used %}
                            <p class="text-success">
                                <i class="fa fa-check-square" aria-hidden="true"></i>
                            </p>
                            {% else %} 
                            <p class="text-danger">
                                <i class="fa fa-window-close" aria-hidden="true"></i>
                            </p>
                            {% endif %}
                        </td>
                        <td>
                           {{appointment.created_at|tojalali}}
                        </td>
                        <td>
                            {% if can_edit_appointment %}
                            <a class="btn btn-{% if appointment.used %}danger{% else %}success{% endif %}" href="{% url 'administration:edit-doctor-appointment' appointment.id %}" title="تغییر به عنوان استفاده شده/نشده">
                                {% if appointment.used %}
                                    <i class="fa fa-window-close" aria-hidden="true"></i>
                                {% else %}
                                    <i class="fa fa-check-square" aria-hidden="true"></i>
                                {% endif %}
                            </a>
                        {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
      </div>
    {% else %}
    <div class="alert alert-warning">نوبتی وجود ندارد
        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
    </div>
    {% endif %}

{% endblock %}