{% extends 'layouts/administration/administration_base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'administration/user-management.css' %}">
{% endblock %}

{% block content %}

<section class="content">
    <h1>بخش مدیریت کاربران</h1>
    <hr/>
    {% if users %}
    <div class="box">
        <div class="box-header">
          <h3 class="box-title">لیست کاربران</h3>

          <form class="box-tools">
            <div class="input-group input-group-sm" style="width: 150px;">
              <input type="text" name="search" class="form-control pull-right" placeholder="جستجو" value="{{search}}">

              <div class="input-group-btn">
                <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
              </div>
            </div>
          </form>
        </div>
        <!-- /.box-header -->
        <div class="box-body table-responsive no-padding">
            <table class="table table-hover">
                <tbody>
                    <tr>
                        <th>پروفایل</th>
                        <th>نام</th>
                        <th>نام خانوادگی</th>
                        <th>شماره تلفن</th>
                        <th>بلاک شده</th>
                        <th>دستورات</th>
                    </tr>
                    {% for user in users %}
                    <tr>
                        <td class="user-profile-td">
                            {% if user.profile_img %}
                                <img src="{{user.profile_img.url}}" class="user-profile-img"/>
                            {% else %}
                                <img src="{% static 'common/default-user.jpg' %}" class="user-profile-img"/>
                            {% endif %}
                        </td>
                        <td>
                            {% if user.name %}
                            {{user.name}}
                            {% else %}
                            _
                            {% endif %}
                        </td>
                        <td>
                            {% if user.family %}
                            {{user.family}}
                            {% else %}
                            _
                            {% endif %}
                        </td>
                        <td>{{user.phone_number}}</td>
                        <td>
                            <span class="badge">
                                {% if user.is_blocked %}
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                {% else %}
                                    <i class="fa fa-close" aria-hidden="true"></i>
                                {% endif %}
                            </span>
                        </td>
                        <td>
                            <a class="btn btn-warning" href="" title="ویرایش">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </a>
                            <a class="btn btn-danger" href="" title="بلاک">
                                <i class="fa fa-lock" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
      </div>
    <div class="text-center">
        <br/>
        <div class="box-tools">
            <ul class="pagination pagination-sm no-margin ">
                {% if has_previous %}
                    <li class="paginate_button"><a href="{{request.path}}?page={{current_page|add:-1}}&search={{search}}"> &lt;&lt;</a></li>
                {% endif %}
                {% for page in page_range %}
                    {% if page == current_page %}
                        <li class="paginate_button active"><a>{{page}}</a></li>
                    {% else %}
                        <li class="paginate_button"><a href="{{request.path}}?page={{page}}&search={{search}}">{{page}}</a></li>
                    {% endif %}
                {% endfor %}
                {% if has_next %}
                    <li class="paginate_button"><a href="{{request.path}}?page={{current_page|add:1}}&search={{search}}">>></a></li>
                {% endif %}
            </ul>
          </div>
            
    </div>
    {% else %}
    <div class="alert alert-warning">کاربری وجود ندارد
        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
    </div>
    {% endif %}
</section>

{% endblock %}